<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>A patient with an identifier {{patientName}} wants to share his data with you and invited you to use Dx29, he needs your professional expertise.</h4>
<p>
Dx29 is changing the way you do medicine. Through this free platform we want to facilitate your job, from patient record reading to differential diagnosis. The platform focuses on rare diseases with genetic origin.
</p>
<p style='margin-top:10px;'>
  <a href="{{client_server}}/register;role=Clinical?email={{email}}">Invitation link</a>
</p>
<p>Discover how can you help your patient and others. <a href="{{client_server}}">Visit www.dx29.ai!</a></p>
<p>
  Message: {{message}}
</p>
