<p>Hola,</p>
<p>
  {{ownerUserName}} quiere compartir los datos del caso: {{patientName}}. Necesita tu permiso para llevarlo a cabo. Usa una de las siguientes opciones para darle permiso:
</p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=true">Acepto compartir este caso</a></p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=false">No acepto compartir este caso</a></p>
<p>Si tienes dudas o preguntas sobre <a href="{{client_server}}">Dx29</a>, por favor, responde a este email. Si te quieres poner en contacto con {{ownerUserName}}, escribe a: <a href="mailto:{{owneremail}}">{{owneremail}}</a></p>
