<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Apreciado,
</p>
<p style='margin-top:10px;'>
  Ha sido propuesto por el paciente {{patientName}}, como médico de referencia en el programa de test genético de Fundación 29 de Febrero (F29) a través de la plataforma de soporte al diagnóstico Dx29 (<a href="{{client_server}}">https://dx29.ai</a>). Este programa intenta eliminar las barreras de acceso a tests genéticos para pacientes jóvenes con epilepsia de posible origen genético.
</p>
<p style='margin-top:10px;'>
  Adjuntamos el documento de descripción del programa donde se explica el flujo del mismo, así como las instrucciones para que usted pueda crear una cuenta en Dx29 en <a href="{{client_server}}/register;role=Clinical?email={{email}}">Invitation link</a> este enlace. La cuenta debe ser creada con el email en el que ha recibido la presente comunicación. Una vez creada, tendrá que iniciar solicitud por su parte para incluir a este paciente en el programa, y continuaremos con el proceso.
</p>
<p>
  En todo momento el equipo de Dx29 está a su disposición para ayudarle y resolver sus dudas.
</p>
<p>
  Atentamente,
</p>
<p>
  Message: {{message}}
</p>
