<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<p>We received an account recovery request for {{email}}</p>
<p>If you initiated this request, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}">click this link to reset your password</a></p>
