<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<p>Hemos recibido una solicitud de recuperación de cuenta para {{email}}</p>
<p>Si inició esta solicitud, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}">haga clic en este enlace para restablecer su contraseña</a></p>
