<p>Hola,</p>
<p>
  {{ownerUserName}} quiere compartir tus datos con {{userName}} y necesita tu permiso para llevarlo a cabo. ¿Qué quieres hacer?
</p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=true">Acepto compartir mis datos</a></p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=false">No acepto compartir mis datos</a></p>
<p>Si tienes dudas o preguntas sobre <a href="{{client_server}}">Dx29</a>, por favor, responde a este email. Si te quieres poner en contacto con {{ownerUserName}}, escribe a: <a href="mailto:{{owneremail}}">{{owneremail}}</a>
Si te quieres poner en contacto con {{userName}}, escribe a: {{email}}.
</p>
