<p>Hello,</p>
<p><b>{{userNameOrigin}}</b> wants you to help them find a diagnosis for <b>{{patientName}}</b> and that's why they share their data with you through <a href="https://www.dx29.ai/?utm_medium=email&utm_source=physician_physician&utm_campaign=data_sharing">Dx29</a>. You will find their medical reports, their list of symptoms standardized according to Human Phenotype Ontology (HPO) and, if available, genetic data. In Dx29 you can analyze them to see which rare diseases fit with them.</p>
<p>The name of the case is: <b>{{patientName}}</b>. </p>
<p>If you have any doubts or questions about Dx29, please reply to this email. If you would like to contact <b>{{userNameOrigin}}</b>, please write to <a href="mailto:{{emailOrigin}}">{{emailOrigin}}</a>. </p>
<p>In addition, <b>{{userNameOrigin}}</b> has added the following personal message:</p>
<p style="border-style: groove;padding: 5px 5px 5px 5px;">{{message}}</p>
<p>Thank you very much for using Dx29. Find out how you can help more families with <a href="https://www.dx29.ai/?utm_medium=email&utm_source=physician_physician&utm_campaign=data_sharing">dx29.ai</a>.</p>
<p>Sincerely,</p>
