<p>Hola,</p>
<p>{{userNameOrigin}} quiere que le ayudes a encontrar un diagnóstico para {{patientName}} y por eso comparte sus datos contigo a través de <a href="{{client_server}}/login">Dx29</a>.Encontrarás sus informes médicos, su lista de síntomas estandarizados según la Human Phenotype Ontology y, si los hubiera, datos genéticos. En Dx29 puedes analizarlos para ver qué enfermedades raras encajan con ellos.</p>
<p>El nombre del caso es: {{patientName}}. </p>
<p>Si tienes dudas o preguntas sobre Dx29, por favor, responde a este email. Si te quieres poner en contacto con {{userNameOrigin}}, escribe a <a href="mailto:{{emailOrigin}}">{{emailOrigin}}</a>. </p>
<p>Además, {{userNameOrigin}} ha añadido el siguiente mensaje personal:</p>
<p style="border-style: groove;padding: 5px 5px 5px 5px;">{{message}}</p>
<p>Muchas gracias por utilizar Dx29. Descubre cómo puedes ayudar a más familias con <a href="{{client_server}}">dx29.ai</a>.</p>
<p>Atentamente,</p>
