<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>A request has been made for the sharing of patient data: {{patientName}}</h4>
<p>
  The request has been made by {{ownerUserName}} with the email {{owneremail}} and he wants to share the data with the doctor {{userName}} ({{email}})
</p>
<p>
  Message: {{message}}
</p>
<p>
  Dx29 wants to change the way we make medicine. Information from patients is so valuable that it can be used to improve diagnostic tools. We want you to help us build the best database in the world with information about the symptoms of rare diseases. We want that information to be used to build the best diagnostic tool that has ever existed.
</p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=true">Click here to agree to share</a></p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=false">Click here to refuse to share</a></p>
<p>Find out how you can help your patient and others. <a href="{{client_server}}">Visit www.dx29.ai!</a></p>
