<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>Se ha solicitado una petición de compartición de datos del paciente {{patientName}}</h4>
<p>
  La solicitud ha sido realizada por {{ownerUserName}} con el email {{owneremail}} y desea compartir los datos con el médico {{userName}} ({{email}})
</p>
<p>
  Mensaje: {{message}}
</p>
<p>
  Dx29 quiere cambiar la forma en que hacemos medicina. La información procedente de los pacientes es tan valiosa que puede utilizarse para mejorar las herramientas de diagnóstico. Queremos que nos ayude a construir la mejor base de datos del mundo con información sobre los síntomas de las enfermedades raras. Queremos que esa información se utilice para construir la mejor herramienta de diagnóstico que jamás haya existido.
</p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=true">Click aquí para aceptar compartir</a></p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=false">Click aquí para rechazar compartir</a></p>
<p>Descubra cómo puede ayudar a su paciente y a los demás. <a href="{{client_server}}">Visite www.dx29.ai!</a></p>
