<p>Hello,</p>
<p>You are sharing {{userName}} data with {{destiny}}. {{userName}} wants to review the sharing of their data, so we have communicated your intent to share to ask for permission. We will notify you when {{userName}} has responded.</p>
<p>The name of the case is: {{patientName}}. </p>
<p>If you have any doubts or questions about <a href="{{client_server}}">Dx29</a>, please reply to this email. If you would like to contact {{userName}}, please write to: <a href="mailto:{{userEmail}}">{{userEmail}}</a></p>
<p>Thank you very much for using Dx29. Find out how you can help more families with <a href="https://www.dx29.ai/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">dx29.ai</a>.</p>
<p>Sincerely,</p>
