<p>Hola,</p>
<p>Estás compartiendo datos de {{userName}} con {{destiny}}. {{userName}} quiere revisar la compartición de sus datos, por lo que le hemos comunicado tu intención de compartirlos para pedirle permiso. Te avisaremos cuando {{userName}} haya respondido.</p>
<p>El nombre del caso es: {{patientName}}. </p>
<p>Si tienes dudas o preguntas sobre <a href="{{client_server}}">Dx29</a>, por favor, responde a este email. Si te quieres poner en contacto con {{userName}}, escribe a: <a href="mailto:{{userEmail}}">{{userEmail}}</a></p>
<p>Muchas gracias por utilizar Dx29. Descubre cómo puedes ayudar a más familias con <a href="https://www.dx29.ai/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">dx29.ai</a>.</p>
<p>Atentamente,</p>
