<p>Hello,</p>
<p>
  {{ownerUserName}} wants to share the case: {{patientName}}. They need your permissions to do it. User the following options to give or deny your permission:
</p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=true">I accept sharing this case</a></p>
<p><a href="{{client_server}}/permissions?patient={{patientId}}&email={{email}}&emailorigen={{owneremail}}&patientEmail={{patientEmail}}&lang={{lang}}&state=false">I reject sharing this case</a></p>
<p>If you have any doubts or questions about <a href="{{client_server}}">Dx29</a>, please reply to this email. If you would like to contact {{ownerUserName}}, please write to: <a href="mailto:{{owneremail}}">{{owneremail}}</a></p>
<p>In addition, {{ownerUserName}} has added the following personal message:</p>
<p style="border-style: groove;padding: 5px 5px 5px 5px;">{{message}}</p>
