<p>Nuevo caso de soporte de: {{email}}</p>
<p>Idioma: {{lang}}</p>
<p>Asunto: {{info.subject}}</p>
<p>Descripción: {{info.description}}</p>
<p>Ficheros: {{info.files}}</p>
<p>Fecha: {{info.date}}</p>
