<p>Hello,</p>
<p>{{userName}} <b>has decided not to share their data</b> with {{userNameDestiny}}.</p>
<p>If you believe this is a mistake, please get in touch in {{userName}} at: <a href="mailto:{{patientEmail}}">{{patientEmail}}</a></p>
<p>If you have any doubts or questions about <a href="{{client_server}}">Dx29</a>, or you believe that we can help in this sharing process, please reply to this email.</p>
<p>Thank you very much for using Dx29. Find out how you can help more families with <a href="https://www.dx29.ai/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">dx29.ai</a>.</p>
<p>Sincerely,</p>
