<p>Hola,</p>
<p>{{userName}} <b>ha decidido no compartir sus datos</b> con {{userNameDestiny}}.</p>
<p>Si crees que se trata de un error, ponte en contacto con {{userName}} en: <a href="mailto:{{patientEmail}}">{{patientEmail}}</a></p>
<p>Si tienes dudas o preguntas sobre <a href="{{client_server}}">Dx29</a>, o crees que podemos ayudar en este proceso de compartición, por favor, responde a este email.</p>
<p>Muchas gracias por utilizar Dx29. Descubre cómo puedes ayudar a más familias con <a href="https://www.dx29.ai/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">dx29.ai</a>.</p>
<p>Atentamente,</p>
